/.cpcache/
/.envrc
/bin/
/lib/
*.tar.gz
/report.html
/observations.edn
/share/
/target/
*.jar
/src/nl/jomco/apie/version.txt
/usage.txt.generated
/apie
/.nrepl-port
/linux-install*.sh
.clj-kondo/
.idea/
.lsp/
*.iml
