# SPDX-FileCopyrightText: 2024, 2025 SURF B.V.
# SPDX-License-Identifier: EPL-2.0 WITH Classpath-exception-2.0
# SPDX-FileContributor: Joost Diepenmaat
# SPDX-FileContributor: Michiel de Mare

/.cpcache/
/.envrc
/bin/
/lib/
*.tar.gz
/report.html
/observations.edn
/share/
/target/
*.jar
/src/nl/jomco/apie/version.txt
/usage.txt.generated
/apie
/.nrepl-port
/linux-install*.sh
.clj-kondo/
.idea/
.lsp/
*.iml
