;; SPDX-FileCopyrightText: 2024, 2025 SURF B.V.
;; SPDX-License-Identifier: EPL-2.0 WITH Classpath-exception-2.0
;; SPDX-FileContributor: Joost Diepenmaat

{:paths ["src" "assets"]
 :deps
 {this/project {:local/root "."}}}
