{:paths ["src" "assets"]
 :deps
 {org.clojure/tools.cli          {:mvn/version "1.0.219"}
  hiccup/hiccup                  {:mvn/version "1.0.5"}
  nl.jomco/clj-http-status-codes {:mvn/version "0.1"}
  nl.jomco/openapi-v3-validator  {:git/url "https://git.sr.ht/~jomco/openapi-v3-validator"
                                  :git/sha "2859707888cbd656aa530964361ce8f9459186c5"}
  nl.jomco/spider                {:git/url "https://git.sr.ht/~jomco/spider"
                                  :git/sha "28d5622803eada27f1469da7ed9bac0389f2b8ae"}}}
