{:paths   ["src" "assets"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.3"}
           org.clojure/tools.cli          {:mvn/version "1.1.230"}
           ring/ring-codec                {:mvn/version "1.2.0"}
           org.babashka/http-client       {:mvn/version "0.4.19"}
           org.babashka/json              {:mvn/version "0.1.6"}
           hiccup/hiccup                  {:mvn/version "2.0.0-RC3"}
           nl.jomco/clj-http-status-codes {:mvn/version "0.1"}
           nl.jomco/openapi-v3-validator  {:mvn/version "0.2.1"}
           nl.jomco/spider                {:mvn/version "0.2.0"}}
 :aliases {:test      {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "kaocha.runner"]}
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "clj-kondo.main"]}
           :outdated  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "antq.core"]}}}
