{:seeds
 [{:method "get"
   :path   "/courses"}
  {:method "get"
   :path   "/programs"}
  {:method "get"
   :path   "/education-specifications"}]

 :rules
 [{:match     [[:request, :method, "get"]
               [:request, :path, "/courses"]
               [:response, :body, "pageNumber", "?pageNumber"]
               [:response, :body, "hasNextPage", true]]
   :generates [{:method "get"
                :path   "/courses?pageNumber={(inc ?pageNumber)}"}]}
  {:match     [[:request, :method, "get"]
               [:request, :path, "/courses"]
               [:response, :body, "items", "?i" "courseId" "?courseId"]]
   :generates [{:method "get"
                :path   "/courses/{?courseId}"}
               {:method "get"
                :path   "/courses/{?courseId}/offerings"}]}
  {:match     [[:request, :method, "get"]
               [:response, :body, "items", "?i" "courseId" "?courseId"]]
   :generates [{:method "get"
                :path   "/courses/{?courseId}"}
               {:method "get"
                :path   "/courses/{?courseId}/offerings"}]}
  {:match     [[:request, :method, "get"]
               [:request, :path, "/programs"]
               [:response, :body, "items", "?i" "programId" "?programId"]]
   :generates [{:method "get"
                :path   "/programs/{?programId}"}
               {:method "get"
                :path   "/programs/{?programId}/offerings"}]}
  {:match     [[:request, :method, "get"]
               [:request, :path, "/education-specifications"]
               [:response, :body, "items", "?i" "educationSpecificationId" "?educationSpecificationId"]]
   :generates [{:method "get"
                :path   "/education-specifications/{?educationSpecificationId}"}]}]}
