:root {
    --border-color: #000;
    --dimmed-color: #888;
    --desktop-color: #eef;
    --bg-color: #fff;
    --issue-count-color: #600;
    --issue-count-bg-color: #fbb;
    --issue-count-border-color: #800;
    --issue-leading-size: 2.5rem;
    --code-bg-color: #eee;
    --heading-bg-color: #ccf;
}

html {
    font-family: sans-serif;
    line-height: 1.5;
    width: 100%;
    background: var(--desktop-color);
}

header, main, footer {
    margin: 1rem auto;
    max-width: 80rem;
}
footer {
    margin-top: 2rem;
    font-size: .8rem;
    text-align: right;
}

section section {
    padding: 1rem;
    margin: 0 0 1rem 0;
    border: dotted 2px var(--border-color);
    border-radius: 1rem;
    background: var(--bg-color);
}

h1, h2, h3, h4 {
    margin: 0;
}

section > section > h3 {
    background: var(--heading-bg-color);
    margin: -1rem -1rem 1rem -1rem;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}

summary {
    cursor: pointer;
}

details > summary {
    list-style: none;
    position: relative;
}
details > summary::after {
    content: "→";
    padding-left: 1rem;
    color: var(--dimmed-color);
}

dl > div {
    margin-bottom: .5rem;
}
dl > div:last-child {
    margin-bottom: 0;
}
dt:after {
    content: ': ';
}
dd {
    margin-left: 1rem;
}

ol, ul {
    margin: 1rem 0;
    padding: 0 0 0 1rem;
}

.and-more {
    font-style: italic;
    font-size: .8rem;
}

q.title {
    font-style: italic;
}

li.and-more {
    margin-top: .5rem;
}
li.and-more::marker {
    content: '';
}
.json {
    background: var(--code-bg-color);
    padding: .5rem;
    border-radius: .5rem;
    overflow: auto;
}

/* general section */

section.general {
    display: flex;
}
section.general section {
    margin-right: 1rem;
}
section.general section:last-child {
    margin-right: 0;
}
section.general dl {
    margin: 1rem 0 0 0;
    font-size: .8rem;
}

.per-path > p {
    font-size: .8rem;
}

/* by-path */

ol.by-schema-path, ol.by-schema-path ul.interactions {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.by-schema-path > li {
    padding: 1rem 0;
    border-top: dotted 2px var(--border-color);
}
ol.by-schema-path > li:last-child {
    padding-bottom: 0;
}

details.schema-path {
    margin: 0;
}
details.schema-path > summary {
    margin: 0;
    list-style: none;
    position: relative;
}
details.schema-path > summary::after {
    content: '→';
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    color: var(--dimmed-color);
}
details[open].schema-path > summary::after {
    display: none;
}

details.schema-path > ul > li {
    padding: 1rem 0;
    border-bottom: dotted 1px var(--border-color);
}

details.schema-path > ul > li:last-child {
    padding: 1rem 0;
    border-bottom: inherit;
}

details.schema-path > summary > div.leading {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    min-width: var(--issue-leading-size);
    height: var(--issue-leading-size);
    line-height: var(--issue-leading-size);
    border-radius: var(--issue-leading-size);
    background-color: var(--issue-count-bg-color);
    border: solid var(--issue-count-border-color) 1px;
    margin-right: 1rem;
    padding: 0 .1rem;
    margin-left: -.5rem;
}
details.schema-path > summary > div.leading .count {
    margin-left: .2em;
    color: var(--issue-count-color);
    font-weight: bold;
}
details.schema-path > summary > div.leading .count:after {
    content: '×';
    font-size: .8rem;
    font-weight: normal;
}
details.schema-path > summary > div.headline {
    display: inline-block;
    margin-top: -.2rem;
}

details.interaction > summary::after {
    padding-left: 0;
    display: block;
    position: absolute;
    right: .5rem;
    bottom: 0;
}
details[open].interaction > summary::after {
    display: none;
}

details.interaction > summary > .headline {
    font-weight: bold;
}
